@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
    @apply py-2 overflow-auto text-xs bg-black border sm:text-sm dark:border-coal-light dark:bg-white bg-opacity-5;
    margin-bottom: 0.75rem !important;
}

.comment-body a {
    @apply text-blue-700 underline focus:bg-blue-700 dark:focus:bg-blue-300 dark:text-blue-300 focus:bg-opacity-10;
}

body {
    @apply overflow-y-scroll bg-white dark:bg-coal-dark;
}

@font-face {
  font-family: 'DomaineText-Regular';
  src: url('./fonts/domaine-text-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'DomaineText-Regular';
  src: url('./fonts/domaine-text-black-italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'DomaineText-Regular';
  src: url('./fonts/domaine-text-bold-italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'DomaineText-Regular';
  src: url('./fonts/domaine-text-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'DomaineText-Regular';
  src: url('./fonts/domaine-text-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'DomaineText-Regular';
  src: url('./fonts/domaine-text-medium-italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'DomaineText-Regular';
  src: url('./fonts/domaine-text-regular-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'DomaineText-Regular';
  src: url('./fonts/domaine-text-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'DomaineText-Regular';
  src: url('./fonts/domaine-text-light-italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'DomaineText-Regular';
  src: url('./fonts/domaine-text-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Ligalex-Mono';
  src: url('./fonts/ligalexmono-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}